body {
  padding-top: 70px;
}

.hero-section {
  height: 100vh;
  background: url('../images/photo4.jpg') center/cover no-repeat;
}
.hero-section::before {
  content: "";
  position: absolute;
  /* inset: 0; */
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.portfolio-img {
  border-radius: 12px;
  cursor: pointer;
  display: block;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.portfolio-img:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

footer {
  font-size: 14px;
}
