body {
  padding-top: 70px;
}

.hero-section {
  height: 100vh;
  background: url('../images/photo4.jpg') center/cover no-repeat;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.portfolio-img {
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.portfolio-img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
footer {
  font-size: 14px;
}
